{% extends 'base.html.twig' %}

{% block title %}Home Template{% endblock %}

{% block body %}
    <div class="main">
        <span class="title">Home Template - Symfony App</span>
        <img src="{{ asset('assets/favicon.png') }}" alt="">
    </div>
{% endblock %}
