// spacing elements
$gutter-big:1.5rem;
$gutter-medium: 1rem;
$gutter-small: .5rem;
$gutter-Xsmall: .2rem;

// backgrounds
$darkBlack: #212529;
$mediumBlack: #343A40;
$lightBlack:#495057;

// colors
$darkBlue:#1d3557;
$mediumBlue:#457B9D;
$lightBlue:#a8dadc;

// elements
$red:#B63030;
$green:#2ECC71;
$orange:#FCA311;
$yellow:#F1C40F;
$purple:#9B59B6;
$white:#FFFFFF;

// Typo
$darkGray: #6C757D;
$mediumGray: #CED4DA;
$lightGray: #E9ECEF;
$lightWhite: #F8F9FA;

// transitions
$transition: all .3s ease-in-out;
$transition-fast: all .1s ease-in-out;
$transition-slow: all .5s ease-in-out;

// fade 
$fade: 0.5s ease-in-out;

// border radius
$border-radius: 0.25rem;

// border
$border: 1px solid $lightGray;

// shadows
$shadow-light: 0 0.5rem 1rem rgba(0, 0, 0, 0.07);
$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$shadow-dark: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
