// spacing elements
$gutterBig:1.5rem;
$gutterMedium: 1rem;
$gutterSmall: .5rem;
$gutterXsmall: .2rem;

// black to white
$darkBlack: #181925;
$mediumBlack: #343A40;
$lightBlack:#495057;

$darkGray: #739695;
$mediumGray: #CED4DA;
$lightGray: #E9ECEF;

$lightWhite: #F8F9FA;

// colors

$darkBlue:#403D58;
$mediumBlue:#457B9D;
$lightBlue:#a8dadc;

$red:#9B2915;
$green:#A1C349;
$orange:#E9B44C;
$yellow:#F4E04D;
$purple:#9B59B6;
$white:#FFFFFF;
$azure:#51AEB8;
$creme: #e6e6e6a1;

// transitions
$transition: all .3s ease-in-out;
$transition-fast: all .1s ease-in-out;
$transition-slow: all .5s ease-in-out;


// border radius
$radius: .3rem;
$radiusBig: .7rem;
$radiusUpDown: 8px 0 ;
$radiusDownUp: 0 8px ;

// border
$borderLight: 1px solid $lightWhite;
$border: 1px solid $lightGray;
$borderDark: 1px solid $darkGray;

// shadows
$shadow-Xlight:  0px 4px 0rem 0px rgb(224 223 223 / 10%);
$shadow-light: 0 0 1rem rgb(224 223 223 / 70%);
$shadow: 0 0 1rem rgb(94 94 94 / 20%);
$shadow-dark: 0 0 1rem rgba(0, 0, 0, 0.5);
