// spacing elements
$gutter-big:1.5rem;
$gutter-medium: 1rem;
$gutter-small: .5rem;
$gutter-Xsmall: .2rem;

// backgrounds
$darkBlack: #212529;
$mediumBlack: #343A40;
$lightBlack:#495057;

// colors
$darkBlue:#1d3557;
$mediumBlue:#457B9D;
$lightBlue:#a8dadc;

// elements
$red:#c71212;
$green:#0bc357;
$orange:#ff9000;
$yellow:#F1C40F;
$purple:#9B59B6;
$white:#FFFFFF;
$azure:#3498DB;

// Typo
$darkGray: #6C757D;
$mediumGray: #CED4DA;
$lightGray: #E9ECEF;
$lightWhite: #F8F9FA;

// transitions
$transition: all .3s ease-in-out;
$transition-fast: all .1s ease-in-out;
$transition-slow: all .5s ease-in-out;

// fade 
$fade: 0.5s ease-in-out;

// border radius
$border-radius: .3rem;

// border
$border: 1px solid $lightGray;

// shadows
$shadow-light: 0 0 1rem rgb(224 223 223 / 70%);
$shadow: 0 0 1rem rgb(94 94 94 / 12%);
$shadow-dark: 0 0 1rem rgba(0, 0, 0, 0.5);
