* {
    box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
}

h1, h2, h3 {
    font-family: "Poppins"!important;
    font-weight: 600!important;
    margin: $gutterBig!important;
}

h4, h5, h6 {
    font-family: "Poppins"!important;
    font-weight: 200!important;
    margin: $gutterMedium $gutterBig!important;
    color: $lightWhite;
    background-color: $azure!important;
    padding: $gutterMedium!important;
    border-radius: $radiusUpDown!important;
    width: fit-content;
}

h1:first-letter, 
h2:first-letter, 
h3:first-letter, 
h4:first-letter, 
h5:first-letter, 
h6:first-letter,
p:first-letter {
    text-transform: uppercase!important;
}

h1 {
    font-size: 2.3rem!important;
}

h2 {
    font-size: 1.9rem!important;
}

h3 {
    font-size: 1.5rem!important;
}

h4 {
    font-size: 1.3rem!important;
}

h5 {
    font-size: 1.1rem!important;
}

h6 {
    font-size: 1rem!important;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: $gutterSmall!important;
    margin: 0 $gutterBig!important;
    list-style: square;
}

ol li {
    padding: $gutterSmall!important;
    margin: 0 $gutterBig!important;
    list-style: decimal;
}

a {
    color: $lightWhite!important;
    transition: $transition-fast;
}

p {
    font-size: 1.1rem!important;
    font-weight: 200!important;
    line-height: 28px!important;
    padding: $gutterBig!important;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: $gutterMedium 0!important;
    overflow: hidden;
    box-shadow: $shadow;
    th, td {
        padding: $gutterSmall!important;
        text-align: left;
        border-bottom: $border;
    }

    tr {
        transition: $transition-fast;
        &:hover {
            background-color: $lightGray;
            color:$darkBlack;
        }
    }
}

thead {
    background-color: $lightBlack;
    color: $lightWhite;
    text-transform: uppercase;
}

form {
    width: 100%;
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $gutterMedium!important;
    margin: $gutterMedium 0!important;
    border-radius: $radius!important;
}

fieldset {
    margin: $gutterBig 0!important;
    border: 1px solid $mediumGray!important;
    padding: 20px 10px!important;
    border-radius: $radiusBig!important;
}

legend {
    font-size: 1.1rem!important;
    padding: 0 $gutterMedium!important;
    color: $lightWhite!important;
    background-color: $mediumBlue!important;
    border-radius: $radiusUpDown!important;
}

.appForm {
    margin: $gutterMedium 0!important;
    font-weight: 200!important;
    line-height: 28px!important;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;

    label {
        font-size: 1.1rem!important;
        padding: $gutterSmall!important;
        text-transform: capitalize;
        width: fit-content;
    }

    input {
        font-size: 1.1rem!important;
        padding: $gutterMedium!important;
        border: none!important;
        border-radius: $radius!important;
        max-width: 100%;
    }   

    .help {
        font-size: .8rem!important;
        padding-left: $gutterSmall!important;
        padding-top: 0!important;
        margin: 0!important;
    }

    textarea {
        font-size: 1.1rem!important;
        padding: $gutterSmall!important;
        margin: 0!important;
        border: $border!important;
        border-radius: $radius!important;
        font-family: 'poppins'!important;
        resize: vertical;
        max-width: 100%;
    }

    select {
        font-size: 1.1rem!important;
        padding: $gutterSmall!important;
        margin: 0!important;
        border: $border!important;
        border-radius: $radius!important;
        line-height: $gutterMedium!important;
        
        option {
            padding: $gutterSmall!important;
            border: none;
        }
        option:nth-child(odd) {
            background-color: $lightGray;
        }
    }

    input[type = file]{
        border: $border!important;
        border-radius: $radius!important;
        padding: $gutterSmall!important;
        font-family: 'poppins'!important;
        background-color: $lightGray!important;
        cursor: pointer;

        // style button file input
        &::-webkit-file-upload-button {
            background-color: $mediumBlue!important;
            color: $lightWhite!important;
            padding: $gutterSmall!important;
            margin-right: $gutterBig!important;
            border: none!important;
            border-radius: $radius!important;
            cursor: pointer;
            transition: $transition;
            &:hover {
                background-color: $darkBlue!important;
                color: $lightWhite!important;
            }
        }
    }

    input[type = submit], input[type = reset] {
        background-color: $mediumBlue!important;
        color: $lightWhite!important;
        transition: $transition;
        width: fit-content;
        cursor: pointer;
    }

    input[type = submit]:hover, input[type = reset]:hover {
        background-color: $darkBlue!important;
        color: $lightWhite!important;
    }

    input[type = radio], input[type = checkbox] {
        width: 20px!important;
        height: 20px!important;
        margin-left: 10px;
        transition: $transition;
    }

    input[type = color] {
        width: 100px !important;
        height: 100px !important;
        padding: 0!important;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }

        &::-webkit-color-swatch-wrapper {
            background-color: transparent!important;
        }

        // cibler la couleur affichée dans le bouton
        &::-webkit-color-swatch {
            padding: 0!important;
            margin: 0!important;
            border-radius: $radiusBig!important;
            border: none!important;
            //background-color: red!important;
        }
    }

    input[type = choice] {
        // change background color of select list when clicked
        &:focus {
            background-color: $lightGray;
        }
        
    }

    // checkbox and radio button checked
    input[type = radio]:checked, input[type = checkbox]:checked {
        background-color: $mediumBlue!important;
        color: $lightWhite!important;
        transform: scale(1.3);
        transition: $transition;
        margin-bottom: $gutterSmall!important;
    }

    .boxAndRadio {
        display: flex;
        flex-direction: column;
        margin-left: $gutterBig!important;
    }

}

.appSpan {
    display: block;
    width: fit-content;
    background-color: $lightWhite!important;
    color: $darkBlack!important;
    padding: $gutterMedium!important;
    border-radius: $radiusDownUp!important;
}

.section {
    padding: 1rem !important;
    margin: 1rem 0 !important;
    border-radius: 0.3rem !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // for pre and code on smartphone
    overflow: auto;
    justify-content: space-between;
    align-items: flex-start;
}

.flexRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
}

.flexColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.appDark {
    background-color: $darkBlack!important;
    color: $lightWhite!important;
}

.appLight {
    background-color: $lightWhite!important;
    color: $darkBlack!important;

    // toggle td background color 1 / 2 on a table in appLight container only
    tr:nth-child(even) {
        background-color: $lightGray;
    }
}

.primary {
    color: $lightWhite!important;
    background-color: $mediumBlue!important;
}

.secondary {
    color: $lightWhite!important;
    background-color: $darkGray!important;
}

.success {
    color: $lightWhite;
    background-color: $green!important;
}

.danger {
    color: $lightWhite!important;
    background-color: $red!important;
}

.warning {
    color: $darkBlack!important;
    background-color: $yellow!important;
}

.dark {
    background-color: $mediumBlack!important;
    color: $lightWhite;
}

.light {
    background-color: $lightGray!important;
    color: $darkBlack!important;
    border: 1px solid $darkBlack!important;
}

.info {
    color: $lightWhite!important;
    background-color: $azure!important;
}

.fill {
    border: 1px solid $darkBlack!important;
    color: $darkBlack!important;
    background-color: transparent!important;
}